 
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }
       #div{
            height: auto;
            max-width: 90vw; 
            margin: auto;
            gap: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.5);
            background-color: bisque;
            color: rgb(61, 51, 51);
            border-radius: 20px;
            padding-top:1rem ;


        }
        #heading{
            text-align: center;
            padding-top:1rem ;
            padding-bottom:10px ;
            font-size: xx-large;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

        /* its is a class of all span tag  */
        .button{
            margin: .2rem;
            width: 80px;
            height: 80px;
            border-radius:50%;
            cursor: pointer;
            display: inline-block;
            box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.5);

            transition: all 2s ease-in-out 1s; /* Transitions width over 2s with an ease-in-out timing function */
                 
        }

        #grey{
            background-color: grey;
        }
        #yellow{
            background-color:yellow;
        }
        #black{
            background-color: black;
        }
        #red{
            background-color: red;
        }
        #purple{
            background-color: purple;
        }
      
        #para{
            width: 50vw;
            text-align: center;
           

        }
   